appnope==0.1.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
bls==0.3.0
CensusData==1.3
certifi==2019.3.9
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
decorator==4.4.0
Fiona==1.8.6
future==0.17.1
geocoder==1.38.1
geopandas==0.5.0
idna==2.8
importlib-metadata==0.15
ipython==7.5.0
ipython-genutils==0.2.0
isort==4.3.17
jedi==0.13.3
joblib==0.13.2
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==3.0.3
matplotlib2tikz==0.7.4
mccabe==0.6.1
more-itertools==7.0.0
munch==2.3.2
numpy==1.16.2
pandas==0.24.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pluggy==0.12.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
pybea==0.7.0a0
Pygments==2.4.1
pylint==2.3.1
pyparsing==2.4.0
pyproj==2.1.3
pytest==4.5.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
ratelim==0.1.6
requests==2.22.0
Rtree==0.8.3
scikit-learn==0.21.2
scipy==1.2.1
Shapely==1.6.4.post2
six==1.12.0
sklearn==0.0
tqdm==4.32.1
traitlets==4.3.2
typed-ast==1.3.2
urllib3==1.25.3
wcwidth==0.1.7
wrapt==1.11.1
zipp==0.5.1
